<div style="margin: 2em; border: 1px solid blue; padding: 3em; font-family: sans-serif">

    <img src="/assets/gbgtech_logo_blue.png" width="300" style="display: block" />

    <div style="margin: 2em 0; white-space: pre">
<%- include(template, params) %>
    </div>

    <em>If you have any problems please contact us! ♥︎</em>
</div>