$mainBlue: #0094d8;
$mainBlack: #222;
$mainWhite: #fff;
$hotPink: #ff1493;

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: $mainBlue;
}

header,
section,
footer,
nav,
li,
form,
div,
html,
body {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

::selection { background: $hotPink; color: $mainWhite; }

.row { flex-direction: row; }
.block { display: block; }

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.top-menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: $mainBlack;
    color: $mainWhite;

    margin: 0;
    padding: 0;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
        justify-content: center;
        align-items: center;
        flex-basis: 200px;
    }

    a {
        font-size: 1.2rem;
        padding: 20px;
        color: $mainWhite;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $mainWhite;
        }
    }
}

.main-container {
    margin-top: 100px;
    padding: 0 1rem 0;
    flex-direction: row;

    .left-column, .right-column {
        flex: 1 1 30%;
        padding: 1em;
    }

    .right-column {
        padding: 1em 0 0;

        iframe {
            flex: 1;
        }
    }

    section {
        flex: 3 1 960px;
        padding: 0 1em;
    }
}

.event-pane {
    padding-bottom: 1em;
    border-bottom: 1px solid $mainBlue;

    h4 { margin: 1em 0 0; }
    small { font-size: 0.6em }

    .description { margin-top: 0.8em; font-size: 0.7em }


}

.register {
    height: 140px;
    margin-top: 1em;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    background: $mainWhite;
    border: 1px solid $mainBlue;

    transition: height 0.3s ease-out;
    overflow: hidden;

    &.modal {
        min-height: 300px;
        justify-content: space-between;
    }

    .row {
        align-items: center;
    }

    .categories {
        margin: 0;

        li {
            user-select: none;
            display: inline-flex;
            width: 30%;
        }
    }

    .row, input {
        flex: 1;
    }

    input, button {
        font-size: 1.2em;
    }
    button {

        margin-left: 0.3em;
    }
}
.postForm{
  flex:1;
  .quill {
    flex:1;
    flex-direction: column;
    .quill-toolbar{
      display: inline;
      flex-grow:0;
    }
    .quill-contents {
      border: 1px solid black;
      flex:1;
      .ql-editor {
        flex:1;
      }
    }
  }
}

a.button {
  text-decoration: none;
}

.event-partial {
  align-items: flex-start;
}

.button {
  user-select: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: $mainBlue;
  color: #fff; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #1583cc;
    color: #fff; }
  .button.tiny {
    font-size: 0.6rem; }
  .button.small {
    font-size: 0.75rem; }
  .button.large {
    font-size: 1.25rem; }
  .button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .button.primary {
    background-color: $mainBlue;
    color: #fff; }
    .button.primary:hover, .button.primary:focus {
      background-color: #147cc0;
      color: #fff; }
  .button.secondary {
    background-color: #777;
    color: #fff; }
    .button.secondary:hover, .button.secondary:focus {
      background-color: #5f5f5f;
      color: #fff; }
  .button.success {
    background-color: #3adb76;
    color: #fff; }
    .button.success:hover, .button.success:focus {
      background-color: #22bb5b;
      color: #fff; }
  .button.alert {
    background-color: #ec5840;
    color: #fff; }
    .button.alert:hover, .button.alert:focus {
      background-color: #da3116;
      color: #fff; }
  .button.warning {
    background-color: #ffae00;
    color: #fff; }
    .button.warning:hover, .button.warning:focus {
      background-color: #cc8b00;
      color: #fff; }
  .button.hollow {
    border: 1px solid #2199e8;
    color: #2199e8; }
    .button.hollow, .button.hollow:hover, .button.hollow:focus {
      background-color: transparent; }
    .button.hollow:hover, .button.hollow:focus {
      border-color: #0c4d78;
      color: #0c4d78; }
    .button.hollow.primary {
      border: 1px solid #2199e8;
      color: #2199e8; }
      .button.hollow.primary:hover, .button.hollow.primary:focus {
        border-color: #0c4d78;
        color: #0c4d78; }
    .button.hollow.secondary {
      border: 1px solid #777;
      color: #777; }
      .button.hollow.secondary:hover, .button.hollow.secondary:focus {
        border-color: #3c3c3c;
        color: #3c3c3c; }
    .button.hollow.success {
      border: 1px solid #3adb76;
      color: #3adb76; }
      .button.hollow.success:hover, .button.hollow.success:focus {
        border-color: #157539;
        color: #157539; }
    .button.hollow.alert {
      border: 1px solid #ec5840;
      color: #ec5840; }
      .button.hollow.alert:hover, .button.hollow.alert:focus {
        border-color: #881f0e;
        color: #881f0e; }
    .button.hollow.warning {
      border: 1px solid #ffae00;
      color: #ffae00; }
      .button.hollow.warning:hover, .button.hollow.warning:focus {
        border-color: #805700;
        color: #805700; }
  .button.disabled, .button[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none; }
