$mainBlue: #0094d8;
$mainBlack: #222;
$mainWhite: #fff;
$hotPink: #ff1493;

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: $mainBlue;
}

header,
section,
footer,
nav,
li,
form,
div,
html,
body {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

::selection { background: $hotPink; color: $mainWhite; }

.row {
    flex-direction: row;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.top-menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: $mainBlack;
    color: $mainWhite;

    margin: 0;
    padding: 0;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
        justify-content: center;
        align-items: center;
        flex-basis: 200px;
    }

    a {
        font-size: 1.2rem;
        padding: 20px;
        color: $mainWhite;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $mainWhite;
        }
    }
}

.main-container {
    margin-top: 100px;
    padding: 0 1rem 0;
    flex-direction: row;

    .left-column, .right-column {
        flex: 1 1 300px;
        padding: 1em;
    }

    .right-column {
        padding: 1em 0 0;

        iframe {
            flex: 1;
        }
    }

    section {
        flex: 3 0 960px;
        padding: 0 1em;
    }
}

.event-pane {
    border-bottom: 1px solid $mainBlue;

    h6 {
        margin-bottom: 0;
    }
}

.register {
    height: 140px;
    margin-top: 1em;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    background: $mainWhite;
    border: 1px solid $mainBlue;

    transition: height 0.3s ease-out;
    overflow: hidden;

    &.modal {
        min-height: 300px;
        justify-content: space-between;
    }

    .row {
        align-items: center;
    }

    .categories {
        margin: 0;

        li {
            user-select: none;
            display: inline-flex;
            width: 30%;
        }
    }

    .row, input {
        flex: 1;
    }

    input, button {
        font-size: 1.2em;
    }
    button {

        margin-left: 0.3em;
    }
}
.postForm{
  flex:1;
  .quill {
    flex:1;
    flex-direction: column;
    .quill-toolbar{
      display: inline;
      flex-grow:0;
    }
    .quill-contents {
      border: 1px solid black;
      flex:1;
      .ql-editor {
        flex:1;
      }
    }
  }
}
