article, .news-article {
  padding: 1em;
  margin-bottom: 1em;

  a {
    color: $mainBlue;
  }

  small {
    color: $lightGray;
    font-family: $sans-font;
  }

  .article-content {
    font-family: Georgia, serif;
    margin-left: 0.5em;
    word-wrap: break-word;
    overflow: hidden;

    img {
      text-align: center;
      max-width: 100%;
    }
    div, p {
      margin: 0;
      padding: 0.5em 0;
    }
  }
  .toLong  {
    margin-top: 1.5em;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      font-weight: bold;
      font-size: 1.8em;

      a {
        color: #222;
        text-decoration: none;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  hr {
    width: 100%;
    border-color: #F5F5F5;
    margin: 1.5em 0;
  }

  .event-partial {
    display: flex;
    flex-direction: column;
    font-family: $sans-font;
    margin: 0 0.5em 0.5em;

    .date-time {
      display: flex;
      min-width: 60%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .fance {
        margin-right: 1em;
        display: flex;
        align-items: center;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .button {
        margin-left: 1em;
        width: 200px;
        text-decoration: none;
      }

      .time-day {
        font-weight: bold;
        font-size: 1.5em;
      }

    }
    .time-row {
      display: block;
    }
  }

  .google-maps {
    margin-top: 1em;
  }

  .post-info {
    display: flex;
    margin-left: 0.5em;
    flex-direction: row;
    align-items: center;

    a {
      margin-left: 0.5em;
    }
  }

  .provider {
    margin-left: 0.5em;
    width: 30px;
    height: 30px;

    background-repeat: no-repeat;
    background-position: center;

    &.meetup {
      background-image: url(/assets/meetup.svg);
      background-size: 100%;
    }

    &.facebook {
      background-image: url(/assets/facebook.png);
      background-size: 60%;
    }
  }
}
