.logo {
    width: 100px;
    height: 40px;
    margin: auto 0;
    padding: 5px;
    background: center url('/assets/gbgtech_logo_blue.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    background: $background-color;
    width: 100%;
    box-shadow: 0 1px 2px rgba(00,00,00,0.3);
}

.mobile-button-container {
    @media all and (min-width: $desktop-size) {
        display: none;
    }
}

.navigation {
    width: 100%;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: $header-height;
    left: 0;
    background: $background-color;
    box-shadow: 0 1px 2px rgba(00,00,00,0.3);
    overflow: hidden;

    a {
        font-size: 1.2rem;
        display: block;
        width: 100%;
        padding: 1rem;
        text-decoration: none;
        transition: color 0.5s;
        color: #000;


        &::after {
             content: "";
             height: 3px;
             transition: width 0.5s;
             width: 0;
             margin: 0 auto;
             background-color: #2196F3;
             position: relative;
             display: block;
             left: 0;
             right: 0;
             bottom: 0;
         }
        &:hover {
            color: #2196F3;

            @media all and (min-width: $desktop-size) {
                &::after {
                    width: 100%;
                }
            }
        }
    }



    li {
        border-bottom: 1px solid rgba(224,224,224,0.4);
    }

    &.active {
         transform: scaleY(1);
    }

    @media all and (min-width: $desktop-size) {
        width: initial;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        transform: scaleY(1);
    }
}


.login-menu {
    display: inline-flex;
}

.link-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media all and (min-width: $desktop-size) {
        width: initial;
        flex: 1;
        position: static;
        .navigation {
            position: static;
            box-shadow: none;
        }
    }
}
.shade {
    background: rgba(10, 10, 10, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.login-box {
    top: $header-height;
    right: 0;
    position: absolute;
    color: black;
    background: white;
    padding: 1em;
    width: 500px;
    display: flex;

    form {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

    .email-row {
      display: flex;
      flex-direction: row;
      margin: 0.5em 0;
      align-items: center;
      justify-content: flex-end;

      input {
        min-width: 100px;
        flex-grow: 1;
        margin: 0 .5em;
        padding-left: .5em;
        font-size: 1.5rem;

      }

      label {
        display: flex;
        align-items: center;
      }

      input, button, label {
        height: 47px;
      }

    }
  }

.google-signin {
  background-image: url('/assets/btn_google_dark_normal_ios.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-color: #4285f4;
  border: none;
  color: #FFF;
  background-size: contain;
  font-size: 1rem;
  padding: .8em 14px;
  padding-left: 55px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  font-family: 'roboto';
  min-width: 210px;
  text-align: center;

  transition: background-color .218s, border-color .218s, box-shadow .218s;

  &:active {
    background-color: #3367d6;
  }
  &:hover {
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
  }
}