.who-are-we {
    background: url('/assets/coolest-pic.jpeg');
    height: 95vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 3rem;
        color: white;
        
    }
}