$mainBlue: #1583cc;
$mainBlack: #222;
$mainWhite: #fff;
$lightYellow: #fffeee;
$darkYellow: yellow;
$hotPink: #ff1493;
$lightGray: #666;

$mobile-size: 590px;
$desktop-size: 780px;
$background-color: white;

@import "index.css";
@import "header.css";
@import "hamburger.css";
@import "articles.css";
@import "sidebar.css";
@import "button.css";
@import "clock.css";
@import "registration-box.css";

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    font-family: 'Josefin sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}