.follow-container {
  display: flex;
  margin-bottom: 1em;

  transition: height 0.3s ease-out;
  // overflow: hidden;

  &.modal {
    padding: 1em;
    flex-direction: column;
    // min-height: 300px;
    justify-content: space-between;

    h3 {
      margin: 0;
    }
  }

  .email, .follow {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0;

    h3 { margin: 0 }
  }

  .email { flex-basis: 60%; }

  > div {
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }

  .email-form {
    input {
      flex: 1;
    }

    .button {
      margin-left: 1em;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 1em;
    }
  }

  .follow-us {
    flex: 1;
  }

  .follow-button-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
  }

  .button.main-follow-button {
    padding: 2px 20px 3px;
  }

  .main-follow-button {
    height: 28px;
    cursor: pointer;
  }

  .categories {
    display: flex;
    flex-direction: row;
    margin: 1em 0;

    ul {
      margin: 0;

      li {
        user-select: none;
        display: inline-flex;
        width: 30%;
      }
    }
  }

  .justify-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


  @media (max-width: $mobile-size) {
    flex-direction: column;

    > div {
      margin-left: 0;
      margin-top: 1em;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.reddit-logo {
  margin-left: 1em;
  height: 28px;
  width: 28px;
  border: 1px solid #000;
  border-radius: 4px;
  vertical-align: center;
  color: #000;

  background: svg-load(../../../public/assets/reddit.svg);

  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -15%;
  background-size: auto 36px;
}

.rss-button {
  margin-left: 1em;
  padding: .2em .5em;
  width: 28px;
  background: svg-load(../../../public/assets/rss.svg);

  background-repeat: no-repeat;
  background-size: auto 28px;
}

.calendar-btn {
  margin-left: 1em;
  padding: .2em .5em;
  width: 28px;

  background: svg-load(../../../public/assets/calendar.svg);

  background-repeat: no-repeat;
  background-size: auto 28px;
}
