.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 25%;

  @media (max-width: $desktop-size) {
    display: none;
  }

  h2 {
    margin: 0;
  }

  a {
    color: $mainBlue;
  }
}

.events-list, .twitter-container {
  padding: 1em;
  margin-bottom: 1em;
}

.twitter-container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;

  iframe {
    flex: 1;
  }
}


.event-pane {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid $lightGray;

  &:last-child {
    border-bottom: 0;
  }

  h4 {
    margin: 0;
  }
  small {
    font-size: 0.6em
  }

  .description {
    margin-top: 0.8em;
    font-size: 0.7em
  }
}